@import url('https://fonts.googleapis.com/css?family=Cookie|Tangerine|Asap|Great+Vibes|Dancing+Script');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1 {
  margin: 0

}

a{
  font-family: 'Tangerine';
}

html{
  padding: 0px;
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
}